{%WEB_HOST_NAME%}:{%WEB_HOST_PORT%} {
    # Uncomment the following to enable logging;
    log stdout
    errors stdout

    tls {%WEB_HOST_TLS%}  # Use `self_signed` to enable self_signed tls, or `off` to disable tls.  TLS not needed for OpenShift.

    # enable gzip compression
    gzip

    root /srv/

    # Openly exposed health check endpoint for OpenShift
    status 200 /health

    rewrite {
        r ^/bcsc/assets/(.*)$
        to /assets/{1}
    }

    rewrite {
        # required for Angular router to work properly
        r ^/(demo|about|home)/?$
        to /
    }

    proxy /bc-tob {%TOB_API_URL%} {
        without /bc-tob
    }

    proxy /bcsc/health {%BCSC_AGENT_HOST%}:{%BCSC_AGENT_PORT%} {
        without /bcsc
    }

    proxy /bcsc {%BCSC_AGENT_HOST%}:{%BCSC_AGENT_PORT%} {
        except /assets
        transparent
        fail_timeout 0 # see https://github.com/mholt/caddy/issues/1925
    }






}

{%WEB_HOST_NAME%}:{%WEB_HOST_PORT%}/topic {
    redir 302 {
        / {%TOB_APP_URL%}/en/topic/_{rewrite_path}
    }
}
